.content-container{
  width: 1140px;
  padding: 15px 0;
  margin: 0 auto;
}

.header{
  display: flex;
  justify-content: end;
  background-color: #1e1e1e;
  height: 55px;
  position: relative;
}

.header-sticky{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}